// Scss Document
@use "./vendor/normalize.scss";
@use "./partials/colors";
@use "./partials/typography";
@use "./partials/mixins";

.navigation {background-color: colors.$primary-color; 
	padding: 15px;
	nav{ display: flex;
		justify-content: flex-end;
		gap: 10px;
		a{color:colors.$secondary-color ; text-decoration: none;& hover
	{color: orangered}
	}
	}
}


.first { border: 1px solid;
width: 520px;
height: 700px;

}


.title {
	@include mixins.title;
}

.paragraph {
	@include mixins.title;
	font-family:typography.$font-jersey;
	font-size: 50px;
	color:colors.$secondary-color;
	margin: 5px 20px;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 20px;

}

.container {
	display: flex;
	flex-wrap: wrap;

}

.subtitle {
	font-family: typography.$font-teko;
}




.body {background-color: chartreuse;}

//Medium screens
@media (min-width: 768px) {.navigation {background-color: navy;}

}

// Big screens
@media (min-width: 1024px) {.navigation { background-color: darkred;}
  
}

.btn-primary {background-color: colors.$primary-color; color: colors.$secondary-color; font-size: 45px;}

.footer {background-color: colors.$dark-background;}